body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.app {
    position: relative;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 30px #e7e3e3;
    position: fixed;
    width: 100%;
    background: #fff;
    top: 0;
    z-index: 999;
}
.logo-container {
    width: 5rem;
    padding: 0.2rem 1rem;
}
.logo-container img {
    width: 100%;
}
.nav-items {
    padding: 0.2rem 1rem;
}
.nav-items ul {
    display: flex;
}
.nav-items ul li {
    list-style: none;
    padding: 0 1rem;
}
.body {
    padding: 4rem 8rem;
    margin-top: 5rem;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
}
.res-card {
    width: 20%;
    padding: 0 1rem;
    transition: transform 0.2s ease-in;
}
.res-card:hover {
    transform: scale(0.95);
    cursor: pointer;
}
.res-image {
    width: 100%;
    border-radius: 1rem;
    height: 150px;
    object-fit: cover;
}
.res-details {
    padding: 0.8rem;
}
.top-restaurant-btn {
    cursor: pointer;
}
.res-filter {
    display: flex;
    justify-content: space-between;
}
.res-shimmer {
    width: 20%;
    height: 150px;
    background-color: #f0f0f0;
    border-radius: 1rem;
    margin: 0 1rem 2rem 0;
}
.no-res {
    text-align: center;
}